<div class="cmp-sign-in-page">
    <cmp-page-header [title]="title"></cmp-page-header>
    <cmp-section>
        <form [formGroup]="signInForm" (submit)="signin($event)">
            <cmp-f-row>
                <cmp-f-column>
                    <cmp-f-email name="email" label="E-Mail" [(model)]="model.email" [fc]="email" [messages]="errors.email" autocomplete="email"></cmp-f-email>
                </cmp-f-column>
            </cmp-f-row>
            <cmp-f-row>
                <cmp-f-column>
                    <cmp-f-password name="password" label="Passwort" [(model)]="model.password" [fc]="password" [messages]="errors.password" autocomplete="current-password"></cmp-f-password>
                </cmp-f-column>
            </cmp-f-row>
            <cmp-f-row>
                <cmp-f-column [flex]="true" align="right">
                    <cmp-f-button text="Reset" theme="secondary" [disabled]="signInForm.untouched" (click)="reset()"></cmp-f-button>
                    <cmp-f-button type="submit" text="Sign in" theme="primary" [disabled]="!signInForm.valid"></cmp-f-button>
                </cmp-f-column>
            </cmp-f-row>
        </form>
    </cmp-section>
</div>
