@import '../../../../scss/shared';

$component: 'cmp-navigation-button';

@include cmp-base($component) {
    width: 45px;
    height: 45px;
    position: fixed;
    top: $grid-mobile-padding;
    right: $grid-mobile-padding;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: $color-primary;
    transition: opacity 0.3s;
    z-index: 999;

    &__icon,
    &__icon:before,
    &__icon:after {
        width: 25px;
        height: 3.5px;
        position: absolute;
        display: block;
        background: $color-white1;
        transition: all 0.3s;
    }

    &__icon {
        top: 20px;
        left: 10px;
    }

    &__icon:before,
    &__icon:after {
        content: '';
    }

    &__icon:before {
        top: -10px;
    }

    &__icon:after {
        top: 10px;
    }

    @include use-breakpoint(mini-tablet) {
        display: none;
    }
}

@include cmp-modifier($component, 'open') {
    &__icon {
        background: transparent;
    }

    &__icon:before,
    &__icon:after {
        top: 0;
    }

    &__icon:before {
        transform: rotate(-45deg);
    }

    &__icon:after {
        transform: rotate(45deg);
    }
}
