<div class="cmp-quick-contact">
    <ul class="cmp-quick-contact__socials">
        <li class="cmp-quick-contact__item">
            <cmp-icon class="cmp-quick-contact__item-icon" [name]="'twitter'"></cmp-icon>
            <span class="cmp-quick-contact__item-text">Twitter</span>
        </li>
        <li class="cmp-quick-contact__item">
            <cmp-icon class="cmp-quick-contact__item-icon" [name]="'xing'"></cmp-icon>
            <span class="cmp-quick-contact__item-text">Xing</span>
        </li>
        <li class="cmp-quick-contact__item">
            <cmp-icon class="cmp-quick-contact__item-icon" [name]="'linkedin'"></cmp-icon>
            <span class="cmp-quick-contact__item-text">LinkedIn</span>
        </li>
        <li class="cmp-quick-contact__item">
            <cmp-icon class="cmp-quick-contact__item-icon" [name]="'github'"></cmp-icon>
            <span class="cmp-quick-contact__item-text">GitHub</span>
        </li>
    </ul>
</div>
