<div class="cmp-quick-contact">
    <ul class="cmp-quick-contact__socials">
        <li class="cmp-quick-contact__item">
            <cmp-icon class="cmp-quick-contact__item-icon" name="twitter"></cmp-icon>
            <cmp-link class="cmp-quick-contact__item-text" text="Twitter"></cmp-link>
        </li>
        <li class="cmp-quick-contact__item">
            <cmp-icon class="cmp-quick-contact__item-icon" name="xing"></cmp-icon>
            <cmp-link class="cmp-quick-contact__item-text" text="Xing"></cmp-link>
        </li>
        <li class="cmp-quick-contact__item">
            <cmp-icon class="cmp-quick-contact__item-icon" name="linkedin"></cmp-icon>
            <cmp-link class="cmp-quick-contact__item-text" text="LinkedIn"></cmp-link>
        </li>
        <li class="cmp-quick-contact__item">
            <cmp-icon class="cmp-quick-contact__item-icon" name="github"></cmp-icon>
            <cmp-link class="cmp-quick-contact__item-text" text="GitHub"></cmp-link>
        </li>
    </ul>
</div>
