@import '../../../scss/shared';

$component: 'cmp-contact-page';

@include cmp-base($component) {
    @include cmp-page();

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include use-breakpoint(mini-tablet) {
            flex-direction: row;
        }
    }

    &__information,
    &__form {
        flex: 1;
    }

    &__information {
        margin-bottom: 20px;

        @include use-breakpoint(mini-tablet) {
            margin-right: 20px;
            margin-bottom: 0;
        }
    }

    &__form {
        @include use-breakpoint(mini-tablet) {
            margin-left: 20px;
        }
    }
}
