<div class="cmp-footer-meta">
    <div class="cmp-footer-meta__legal">
        <div class="cmp-footer-meta__copyright">&copy; {{year}} Pascal Iske</div>
        <ul class="cmp-footer-meta__links">
            <li class="cmp-footer-meta__link">
                <a [routerLink]="['/', language, 'imprint']">{{'FOOTER_META_IMPRINT'|translate}}</a>
            </li>
            <li class="cmp-footer-meta__link">
                <a [routerLink]="['/', language, 'privacy']">{{'FOOTER_META_PRIVACY'|translate}}</a>
            </li>
        </ul>
    </div>
    <cmp-language-switch class="cmp-footer-meta__languages"></cmp-language-switch>
</div>
