<div class="cmp-footer-meta">
    <div class="cmp-footer-meta__legal">
        <div class="cmp-footer-meta__copyright">&copy; {{year}} Pascal Iske</div>
        <ul class="cmp-footer-meta__links">
            <li class="cmp-footer-meta__link">
                <cmp-link [href]="['/', language, 'imprint']" [text]="'FOOTER_META_IMPRINT'|translate"></cmp-link>
            </li>
            <li class="cmp-footer-meta__link">
                <cmp-link [href]="['/', language, 'privacy']" [text]="'FOOTER_META_PRIVACY'|translate"></cmp-link>
            </li>
            <li class="cmp-footer-meta__link">
                <a routerLink="/auth/signin">{{'FOOTER_META_SIGNIN'|translate}}</a>
            </li>
            <li class="cmp-footer-meta__link">
                <a routerLink="/auth/signout">{{'FOOTER_META_SIGNOUT'|translate}}</a>
            </li>
        </ul>
    </div>
    <cmp-language-switch class="cmp-footer-meta__languages"></cmp-language-switch>
</div>
