# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/bazel-out
/workers/worker

# dependencies
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/.idea
/.infracost
.envrc
.dev.vars
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Terraform
terraform/.terraform

# misc
/.angular/cache
/.sass-cache
/.wrangler
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/docs
/legacy

# System Files
.DS_Store
Thumbs.db
