@import '../../../scss/shared';

$component: 'cmp-footer';

:host {
    position: absolute;
    bottom: 0;
}

@include cmp-base($component) {
    width: 100vw;
    height: $footer-height-mobile;
    margin: 0 auto;
    padding-left: $grid-mobile-padding;
    padding-right: $grid-mobile-padding;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px $color-white2 solid;
    background-color: $color-white1;

    @include use-breakpoint(mini-tablet) {
        height: $footer-height-mini-tablet;
    }

    @include use-breakpoint(desktop) {
        padding-left: $grid-desktop-padding;
        padding-right: $grid-desktop-padding;
    }
}
