@import 'shared';

$component: 'cmp-header';

@include cmp-base($component) {
    &__wrapper {
        width: 100vw;
        height: $header-height;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $color-primary;
        cursor: pointer;

        @include use-breakpoint(mini-tablet) {
            height: $header-height-mini-tablet;
        }

        @include use-breakpoint(desktop) {
            height: $header-height-desktop;
        }
    }

    &__title,
    &__subtitle {
        color: $color-white1;
        opacity: 0;
    }

    &__title {
        @include use-text(title);
        width: 278px;
        fill: rgba($color-white1, 0);
        stroke: rgba($color-white1, 0);
        stroke-width: 1px;
        stroke-dasharray: 100%;
        stroke-dashoffset: 100%;
        transform: translateX(-20px);

        @include use-breakpoint(mini-tablet) {
            width: 430px;
        }
    }

    &__subtitle {
        @include use-text(subtitle);
        transform: translateX(20px);
    }

    @include use-breakpoint(mini-tablet) {
        position: sticky;
        top: -$header-height-mini-tablet;
        z-index: 999;
    }

    @include use-breakpoint(desktop) {
        top: -$header-height-desktop;
    }
}
