<cmp-headline [level]="'h1'" [text]="'Want to get in touch?'"></cmp-headline>

<div class="max-w-3xl">
    <form class="flex flex-col" [formGroup]="contact">
        <cmp-copy>
            You can contact me through the contact form on this page. Alternatively you can find me
            on the following social platforms. I will get back to you as soon as possible.
        </cmp-copy>

        <div class="hidden h-0 w-0">
            <cmp-input
                [type]="'text'"
                [fc]="contact.controls.prefix"
                [id]="'prefix'"
                [autocomplete]="'off'"
            ></cmp-input>
        </div>

        <div class="flex flex-col sm:flex-row sm:gap-5">
            <cmp-input
                class="flex-1"
                [type]="'text'"
                [fc]="contact.controls.name"
                [id]="'name'"
                [label]="'Name'"
                [autocomplete]="'name'"
            ></cmp-input>

            <cmp-input
                class="flex-1"
                [type]="'email'"
                [fc]="contact.controls.email"
                [id]="'email'"
                [label]="'Mail'"
                [autocomplete]="'email'"
            ></cmp-input>
        </div>

        <cmp-input
            [type]="'text'"
            [fc]="contact.controls.subject"
            [id]="'subject'"
            [label]="'Subject'"
        ></cmp-input>

        <cmp-input
            [type]="'textarea'"
            [fc]="contact.controls.message"
            [id]="'message'"
            [label]="'Message'"
        ></cmp-input>

        <div class="mt-2">
            <fa-icon class="mr-2" [icon]="icons['faInfoCircle']"></fa-icon>
            Please note to process your data the contact form uses external services. More
            information about the process can be found on the
            <a [routerLink]="['/legal-notice']" [fragment]="'data-protection'">legal notice</a>
            page.
        </div>

        <div class="flex justify-end gap-5">
            <button
                class="mt-5 px-4 py-2 text-paynesGray opacity-75 transition-opacity duration-300 hover:opacity-100 disabled:hidden"
                type="reset"
                [disabled]="contact.pristine"
                (click)="reset()"
            >
                <fa-icon class="mr-2" [icon]="icons['faTrashAlt']"></fa-icon>
                <span>Reset</span>
            </button>

            <button
                class="mt-5 min-w-[150px] bg-opacity-75 px-4 py-2 text-ghostWhite transition-colors duration-300 hover:bg-opacity-100 disabled:cursor-not-allowed disabled:bg-paynesGray"
                type="submit"
                [class.cursor-pointer]="state == 'initial'"
                [class.pointer-events-none]="state != 'initial'"
                [class.bg-opacity-100]="state != 'initial'"
                [class.bg-bitterSweet]="state == 'initial'"
                [class.!bg-paynesGray]="state == 'loading'"
                [class.!bg-success]="state == 'success'"
                [class.!bg-error]="state == 'error'"
                [disabled]="contact.invalid"
                (click)="submit()"
            >
                <fa-icon
                    class="mr-2"
                    [icon]="icons['faPaperPlane']"
                    *ngIf="state == 'initial'"
                ></fa-icon>
                <fa-icon
                    class="mr-2"
                    [icon]="icons['faCircleNotch']"
                    [animation]="'spin'"
                    *ngIf="state == 'loading'"
                ></fa-icon>
                <fa-icon
                    class="mr-2"
                    [icon]="icons['faCheck']"
                    *ngIf="state == 'success'"
                ></fa-icon>
                <fa-icon
                    class="mr-2"
                    [icon]="icons['faExclamationCircle']"
                    *ngIf="state == 'error'"
                ></fa-icon>
                <span>Submit</span>
            </button>
        </div>
    </form>
</div>

<cmp-socials></cmp-socials>
