<div class="cmp-contact">
    <cmp-page-header [title]="title"></cmp-page-header>
    <cmp-section [id]="'contact-form'">
        <div class="cmp-contact__wrapper">
            <div class="cmp-contact__information">
                <cmp-headline-h4 [text]="'Got curious?'"></cmp-headline-h4>
                <cmp-copy
                    [text]="
                        'Let us talk about your project!\n\nYou can contact me by mail at info@pascaliske.dev. Alternatively, you can use the contact form on the right side of this page.'
                    "
                ></cmp-copy>

                <cmp-headline-h4 [text]="'Social Media'"></cmp-headline-h4>
                <cmp-copy
                    [text]="
                        'You can find me also on:\n\n- [Twitter](https://twitter.com/pascaliske)\n- [Xing](https://www.xing.com/profile/Pascal_Iske)\n- [LinkedIn](https://de.linkedin.com/in/pascaliske)\n- [GitHub](https://github.com/pascaliske)'
                    "
                ></cmp-copy>
            </div>
            <form class="cmp-contact__form" [formGroup]="contactForm">
                <cmp-headline-h4 [text]="'Contact form'"></cmp-headline-h4>
                <cmp-f-row>
                    <cmp-f-column>
                        <cmp-f-input
                            [name]="'name'"
                            [label]="'Name'"
                            [fc]="name"
                            [autocomplete]="'name'"
                        ></cmp-f-input>
                    </cmp-f-column>
                </cmp-f-row>
                <cmp-f-row>
                    <cmp-f-column>
                        <cmp-f-email
                            [name]="'email'"
                            [label]="'Mail'"
                            [fc]="email"
                            [validation]="validation['email']"
                            [autocomplete]="'email'"
                        ></cmp-f-email>
                    </cmp-f-column>
                </cmp-f-row>
                <cmp-f-row>
                    <cmp-f-column>
                        <cmp-f-input
                            [name]="'subject'"
                            [label]="'Subject'"
                            [fc]="subject"
                        ></cmp-f-input>
                    </cmp-f-column>
                </cmp-f-row>
                <cmp-f-row>
                    <cmp-f-column>
                        <cmp-f-text-area
                            [name]="'message'"
                            [label]="'Message'"
                            [fc]="message"
                        ></cmp-f-text-area>
                    </cmp-f-column>
                </cmp-f-row>
                <cmp-f-row>
                    <cmp-f-column [flex]="true" [align]="'right'">
                        <cmp-f-button
                            [label]="'Reset'"
                            [theme]="'secondary'"
                            [disabled]="contactForm.invalid"
                            (click)="reset()"
                        ></cmp-f-button>
                        <cmp-f-button
                            [class]="'plausible-event-name=Contact+Form+Submit'"
                            [label]="'Submit'"
                            [type]="'button'"
                            [theme]="'primary'"
                            [disabled]="contactForm.invalid"
                            (clicked)="send()"
                        ></cmp-f-button>
                    </cmp-f-column>
                </cmp-f-row>
            </form>
        </div>
    </cmp-section>
</div>
