@import '../../../../scss/shared';

$component: 'cmp-language-switch';

@include cmp-base($component) {
    &__language {
        display: inline-block;

        &:not(:last-of-type)::after {
            color: rgba($color-secondary, .4);
            content: ' // ';
        }
    }
}
