<div class="cmp-language-switch">
    <ul class="cmp-language-switch__languages">
        <li class="cmp-language-switch__language">
            <cmp-link class="cmp-language-switch__link" [target]="['/en', path]" [inline]="true" [text]="'FOOTER_LANGUAGE_ENGLISH'|translate"></cmp-link>
        </li>
        <li class="cmp-language-switch__language">
            <cmp-link class="cmp-language-switch__link" [target]="['/de', path]" [inline]="true" [text]="'FOOTER_LANGUAGE_GERMAN'|translate"></cmp-link>
        </li>
    </ul>
</div>
