<div class="cmp-language-switch" *ngIf="!isAuthPath()">
    <ul class="cmp-language-switch__languages">
        <li class="cmp-language-switch__language">
            <a class="cmp-language-switch__link" [routerLink]="['/', 'en', path]">{{'FOOTER_LANGUAGE_ENGLISH'|translate}}</a>
        </li>
        <li class="cmp-language-switch__language">
            <a class="cmp-language-switch__link" [routerLink]="['/', 'de', path]">{{'FOOTER_LANGUAGE_GERMAN'|translate}}</a>
        </li>
    </ul>
</div>
