@mixin use-breakpoint($name) {
    $breakpoints: (
        desktop: 1280px,
        tablet: 1024px,
        mini-tablet: 768px,
        phablet: 320px,
    ) !default;

    @if map-has-key($breakpoints, $name) {
        @media (min-width: map-get($breakpoints, $name)) {
            @content;
        }
    }
}
