@mixin use-breakpoint($name) {
    $breakpoint-settings: (
        desktop: 1280px,
        tablet: 1024px,
        mini-tablet: 768px,
        phablet: 320px,
    ) !default;

    @if map-has-key($breakpoint-settings, $name) {
        @media (min-width: map-get($breakpoint-settings, $name)) {
            @content;
        }
    }
}
