@mixin cmp-form-element() {
    @include use-text(copy);
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

@mixin cmp-form-input() {
    &__control {
        height: 35px;
        line-height: 35px;
        margin-top: 20px;
        position: relative;
    }

    &__input {
        width: 100%;
        height: 100%;
        border: 0;
        display: block;
        transition: color .2s;
    }

    &__label {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: $color-primary;
        opacity: .5;
        transition: all .2s;
        pointer-events: none;
    }

    &__line {
        &::before,
        &::after {
            height: 4px;
            position: absolute;
            bottom: -5px;
            left: 0;
            display: block;
            opacity: .2;
            transition: width .2s, opacity .2s, background .2s;
            content: ' ';
        }

        &::before {
            width: 100%;
            background: rgba($color-grey1, .8);
        }

        &::after {
            width: 0;
            background: $color-primary;
        }
    }

    &--filled &__label,
    &--focus &__label {
        font-size: ms(-1);
        height: 15px;
        line-height: 15px;
        top: -15px;
    }

    &--focus &__line::after {
        opacity: 1;
        width: 100%;
    }

    &--invalid &__label,
    &--invalid &__input {
        color: $color-red;
    }

    &--invalid &__line::before,
    &--invalid &__line::after {
        background: $color-red;
    }
}

@mixin cmp-form-password() {
    &__toggle {
        height: 100%;
        position: absolute;
        top: 2px;
        right: 10px;
        color: $color-primary;
        opacity: .5;
        transition: opacity .2s;
    }

    &--visible &__input {
        color: rgba($color-grey1, .8);
    }

    &--visible &__toggle {
        opacity: 1;
    }
}

@mixin cmp-form-textarea() {
    &__control {
        min-height: 35px;
        line-height: 35px;
        margin-top: 20px;
        position: relative;
        transition: min-height .2s;
    }

    &__input {
        width: 100%;
        height: 22px;
        line-height: 22px;
        padding: 5px 0 0 0;
        resize: none;
        transition: height .2s;
    }

    &__label {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: $color-primary;
        opacity: .5;
        transition: all .2s;
        pointer-events: none;
    }

    &__line {
        &::before,
        &::after {
            height: 4px;
            position: absolute;
            bottom: -5px;
            left: 0;
            display: block;
            opacity: .2;
            transition: width .2s, opacity .2s, background .2s;
            content: ' ';
        }

        &::before {
            width: 100%;
            background: rgba($color-grey1, .8);
        }

        &::after {
            width: 0;
            background: $color-primary;
        }
    }

    &--filled &__label,
    &--focus &__label {
        font-size: ms(-1);
        height: 15px;
        line-height: 15px;
        top: -15px;
    }

    &--filled &__control,
    &--focus &__control {
        min-height: 150px;
    }

    &--filled &__input,
    &--focus &__input {
        height: 150px;
    }

    &--focus &__line::after {
        opacity: 1;
        width: 100%;
    }
}

@mixin cmp-form-button() {
    margin-top: 15px;
    transition: opacity .2s;
    cursor: pointer;

    &__button {
        cursor: pointer;
    }

    &--disabled {
        opacity: .6;
        user-select: none;
        cursor: not-allowed;
    }

    &--disabled &__button {
        pointer-events: none;
    }
}

@mixin cmp-form-checkbox() {
    &__control {
        height: 35px;
        line-height: 35px;
        margin-top: 20px;
        position: relative;
    }

    &__input {
        display: none;
    }

    &__symbol {
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: 3px $color-primary solid;
        opacity: .5;
        transition: background-color .4s, opacity .4s;
    }

    &__check {
        stroke-dasharray: 130px 130px;
        stroke-dashoffset: 130px;
        transition: stroke-dashoffset 1s;
        transition-delay: .2s;
    }

    &__label {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 50px;
        opacity: .5;
    }

    &--filled &__symbol {
        opacity: 1;
        background-color: $color-primary;
    }

    &--filled &__check {
        stroke-dashoffset: 0;
    }
}

@mixin cmp-form-radiobutton() {
    &__control {
        height: 35px;
        line-height: 35px;
        margin-top: 20px;
        position: relative;
    }

    &__input {
        display: none;
    }

    &__symbol {
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: 3px $color-primary solid;
        border-radius: 100%;
        opacity: .5;
        transition: background-color .4s, opacity .4s;
    }

    &__circle {
        r: 0;
        transition: r .2s;
        transition-delay: .1s;
    }

    &__label {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 50px;
        opacity: .5;
    }

    &__control--checked &__symbol {
        opacity: 1;
        background-color: $color-primary;
    }

    &__control--checked &__circle {
        r: 9;
    }
}

@mixin cmp-form-error() {
    margin-top: 10px;
    margin-bottom: 5px;
    color: $color-red;
    opacity: .5;
}

@mixin cmp-form-explanation() {}
