* {
    box-sizing: border-box;
}

html,
body {
    @include use-font(regular);
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    /* stylelint-enable property-no-vendor-prefix */
    margin-bottom: 10px;
}

button,
input,
textarea,
select,
[type='submit'] {
    border: 0;
    outline: 0;
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-appearance: none;
    /* stylelint-enable property-no-vendor-prefix */
}
