.cc-policy.cc-revoke.cc-bottom {
    height: 39px;
    line-height: 27px;
    right: 0;
    left: initial;
    border-radius: 0;
    background-color: $color-white1;
    color: rgba($color-primary, 0.3);
    z-index: 998;
}

.cc-banner.cc-theme-edgeless .cc-btn {
    outline: 0;
}
