/**
 * Font: Open Sans (Google Fonts)
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/**
 * Font: Source Code Pro (Google Fonts)
 */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400');
