.cmp-notification {
    padding: 15px $grid-mobile-padding;
    border-top: 1px rgba($color-white2, 0.2) solid;

    @include use-breakpoint(mini-tablet) {
        padding: 15px $grid-desktop-padding;
    }

    &__type,
    &__message,
    &__icon {
        color: $color-primary;
    }

    &__message {
        border-left: 1px $color-grey2 solid;
    }

    &__icon::before,
    &__icon::after {
        background-color: $color-primary;
    }

    &--info {
        background-color: #03a9f4;
    }

    &--success {
        background-color: $color-green;
    }

    &--warning {
        background-color: #ff9800;
    }

    &--error {
        background-color: #f44336;
    }
}
