@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-*: initial;
    --color-gunmetal: #2d333d;
    --color-charcoal: #464c59;
    --color-paynes-gray: #69707d;
    --color-ghost-white: #fffaff;
    --color-bitter-sweet: #ff5858;
    --color-aquamarine: #4ce0b3;
    --color-success: #42ba96;
    --color-error: #ff4444;

    --font-weight-*: initial;
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-lato: 'Lato', sans-serif;

    --animate-fade-in: fadeIn 0.2s ease-in-out;
    --animate-fade-out: fadeOut 0.2s ease-in-out;
    --animate-blink: blink 0.75s linear infinite;
    --animate-heartbeat: heartbeat 1s ease-in infinite;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    @keyframes heartbeat {
        0%,
        40%,
        80%,
        100% {
            transform: scale(1);
        }
        20%,
        60% {
            transform: scale(1.1);
        }
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@utility nav-button {
    @apply h-[2px] w-[25px] before:h-[2px] before:w-[25px] after:h-[2px] after:w-[25px];
    @apply absolute top-[20px] left-[7.5px] before:absolute before:-top-[10px] before:left-0 after:absolute after:top-[10px] after:left-0;
    @apply bg-gunmetal before:bg-gunmetal after:bg-gunmetal;
    @apply dark:bg-ghost-white dark:before:bg-ghost-white dark:after:bg-ghost-white;
    @apply transition-all duration-300 before:transition-all before:duration-300 after:transition-all after:duration-300;
}

@utility nav-link {
    @apply relative;
    @apply mb-12 sm:mr-5 sm:mb-0;
    @apply font-regular text-gunmetal dark:text-ghost-white text-4xl sm:text-xl;
    @apply after:absolute after:-bottom-[5px] after:left-0 sm:after:bottom-0;
    @apply after:h-[5px] after:w-0 sm:after:h-[3px];
    @apply motion-safe:after:transition-[width] motion-safe:after:duration-300;
    @apply after:bg-bitter-sweet;
    @apply hover:cursor-pointer;
}

@utility nav-link-active {
    @apply after:w-full;
}

@layer base {
    /* Lato Thin */
    @font-face {
        font-family: 'Lato';
        font-display: swap;
        font-style: normal;
        font-weight: 100;
        src:
            url('/assets/fonts/Lato-Thin.woff2') format('woff2'),
            url('/assets/fonts/Lato-Thin.woff') format('woff');
    }

    /* Lato Light */
    @font-face {
        font-family: 'Lato';
        font-display: swap;
        font-style: normal;
        font-weight: 300;
        src:
            url('/assets/fonts/Lato-Light.woff2') format('woff2'),
            url('/assets/fonts/Lato-Light.woff') format('woff');
    }

    /* Lato Regular */
    @font-face {
        font-family: 'Lato';
        font-display: swap;
        font-style: normal;
        font-weight: 400;
        src:
            url('/assets/fonts/Lato-Regular.woff2') format('woff2'),
            url('/assets/fonts/Lato-Regular.woff') format('woff');
    }

    /* Lato Bold */
    @font-face {
        font-family: 'Lato';
        font-display: swap;
        font-style: normal;
        font-weight: 700;
        src:
            url('/assets/fonts/Lato-Bold.woff2') format('woff2'),
            url('/assets/fonts/Lato-Bold.woff') format('woff');
    }

    body {
        @apply font-lato font-light;
        @apply text-gunmetal dark:text-ghost-white;
        @apply bg-ghost-white dark:bg-gunmetal;
        @apply transition-[background-color] duration-300;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-5xl lg:text-6xl;
        @apply -ml-[0.5px] sm:-ml-[3px] lg:-ml-[4px];
    }

    h2 {
        @apply text-3xl sm:text-4xl lg:text-5xl;
        @apply -ml-[2px] sm:-ml-[2.5px] lg:-ml-[3px];
    }

    h3 {
        @apply text-2xl sm:text-3xl lg:text-4xl;
        @apply -ml-[2px] sm:-ml-[2.5px] lg:-ml-[3px];
    }

    h4 {
        @apply text-xl sm:text-2xl lg:text-3xl;
        @apply -ml-[1.5px] sm:-ml-[2px] lg:-ml-[2.5px];
    }

    h5 {
        @apply text-lg sm:text-xl lg:text-2xl;
        @apply -ml-[1.2px] sm:-ml-[1.5px] lg:-ml-[2px];
    }

    h6 {
        @apply text-base;
        @apply -ml-[1.1px] sm:-ml-[1.5px] lg:-ml-[1.5px];
    }

    a {
        @apply text-bitter-sweet transition-opacity duration-300;
    }

    input,
    textarea,
    select {
        @apply border-0;
        outline: none;
    }

    fa-icon svg {
        display: inline-block;
        font-size: inherit;
        height: 1em;
    }

    fa-icon .fa-2x {
        font-size: 2em;
    }

    .svg-inline--fa {
        vertical-align: -0.125em;
    }
}

:root {
    --ng-progress-color: #ff6666;
}
