<ul
    class="text-bitter-sweet mt-10 grid grid-cols-[repeat(4,40px)] content-center gap-4 text-4xl min-[450px]:gap-10 min-[820px]:grid-cols-[repeat(7,50px)] sm:text-5xl"
    [class.!mt-20]="type() == 'box'"
>
    @for (channel of channels; track channel) {
        <li class="transition-transform duration-300 motion-safe:hover:scale-110 sm:mt-0">
            <a
                [href]="channel.href"
                [title]="channel.name"
                class="block"
                target="_blank"
                rel="noopener"
            >
                <fa-icon [icon]="channel.icon"></fa-icon>
            </a>
        </li>
    }
</ul>
