<div class="cmp-f-password" [ngClass]="getClasses('cmp-f-password')">
    <div class="cmp-f-password__control">
        <input class="cmp-f-password__input" type="password" [id]="name" [name]="name" [ngModel]="model" (ngModelChange)="modelChange.emit($event)" [formControl]="fc" [autocomplete]="autocomplete" (focus)="focusIn()" (focusout)="focusOut()" />
        <label class="cmp-f-password__label" [for]="name">{{label}}</label>
        <span class="cmp-f-password__line"></span>
    </div>
    <cmp-f-error class="cmp-f-password__errors" [fc]="fc" [messages]="messages" ></cmp-f-error>
</div>
