@import '../scss/shared';

$component: 'cmp-root';

@include cmp-base($component) {
    &__wrapper {
        opacity: 0;
        transition: opacity .2s;
    }
}

@include cmp-modifier($component, 'activated') {
    &__wrapper {
        opacity: 1;
    }
}
