<div class="cmp-deployment-page">
    <cmp-page-header [title]="title"></cmp-page-header>
    <cmp-section id="content">
        <cmp-copy>
            <markdown ngPreserveWhitespaces>
                [![Build Status](https://travis-ci.com/pascaliske/pascaliske.github.io.svg?branch=production)](https://travis-ci.com/pascaliske/pascaliske.github.io)

                ##### Steps

                1. Pushing the latest changes to [production](https://github.com/pascaliske/pascaliske.github.io/tree/production).
                2. Travis CI job triggered by this push builds the Angular project.
                3. Travis CI deploys the final built to GitHub Pages using a custom domain.
            </markdown>
        </cmp-copy>
    </cmp-section>
    <cmp-section id="quick-contact">
        <cmp-quick-contact></cmp-quick-contact>
    </cmp-section>
</div>
