<div class="cmp-footer-meta">
    <div class="cmp-footer-meta__legal">
        <div class="cmp-footer-meta__copyright">&copy; {{year}} Pascal Iske</div>
        <ul class="cmp-footer-meta__links">
            <li class="cmp-footer-meta__link">
                <cmp-link [target]="['/imprint']" [text]="'Imprint'" [inline]="true"></cmp-link>
            </li>
            <li class="cmp-footer-meta__link">
                <cmp-link [target]="['/privacy']" [text]="'Privacy'" [inline]="true"></cmp-link>
            </li>
        </ul>
    </div>
</div>
