<div class="cmp-footer-meta">
    <div class="cmp-footer-meta__legal">
        <div class="cmp-footer-meta__copyright">&copy; {{year}} Pascal Iske</div>
        <ul class="cmp-footer-meta__links" *ngIf="(languageService.language$ | async) as language">
            <li class="cmp-footer-meta__link">
                <cmp-link [target]="['/', language, 'imprint']" [text]="'FOOTER_META_IMPRINT'|translate" [inline]="true"></cmp-link>
            </li>
            <li class="cmp-footer-meta__link">
                <cmp-link [target]="['/', language, 'privacy']" [text]="'FOOTER_META_PRIVACY'|translate" [inline]="true"></cmp-link>
            </li>
        </ul>
    </div>
    <cmp-language-switch class="cmp-footer-meta__languages"></cmp-language-switch>
</div>
