<ng-template #content>
    <span>{{ text() }}</span>
    @if (level() == 'h1') {
        <span class="text-bitter-sweet motion-safe:animate-blink">_</span>
    }
</ng-template>

@switch (level()) {
    @case ('h1') {
        <h1 class="mb-5 lg:mb-10">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </h1>
    }
    @case ('h2') {
        <h2 class="mb-5 lg:mb-8" [id]="id()">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </h2>
    }
    @case ('h3') {
        <h3 class="mb-5 lg:mb-7" [id]="id()">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </h3>
    }
    @case ('h4') {
        <h4 class="mb-4 lg:mb-6" [id]="id()">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </h4>
    }
    @case ('h5') {
        <h5 class="mb-3 lg:mb-5" [id]="id()">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </h5>
    }
    @case ('h6') {
        <h6 class="mt-2 lg:mt-4" [id]="id()">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </h6>
    }
}
