<div class="cmp-home-page">
    <cmp-page-header [title]="title"></cmp-page-header>
    <cmp-section id="welcome">
        <cmp-headline-h4 [text]="'HOME_PAGE_WELCOME_HEADLINE'|translate"></cmp-headline-h4>
        <cmp-copy [text]="'HOME_PAGE_WELCOME_COPY'|translate"></cmp-copy>
    </cmp-section>
    <cmp-section id="details">
        <cmp-headline-h4 [text]="'HOME_PAGE_DETAILS_HEADLINE'|translate"></cmp-headline-h4>
        <cmp-copy [text]="'HOME_PAGE_DETAILS_COPY'|translate"></cmp-copy>
        <cmp-copy theme="bold" [text]="'HOME_PAGE_DETAILS_GET_STARTED'|translate"></cmp-copy>
    </cmp-section>
    <cmp-section id="quick-contact">
        <cmp-quick-contact></cmp-quick-contact>
    </cmp-section>
</div>
