@import '../../../scss/shared';

$component: 'cmp-logo';

@include cmp-base($component) {
    &__wrapper {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__vector {
        flex: 1;
    }
}

@include cmp-modifier($component, 'light') {
    &__vector .left-brace,
    &__vector .right-brace,
    &__vector .pi {
        fill: $color-primary;
    }
}

@include cmp-modifier($component, 'dark') {
    &__wrapper {
        background: $color-primary;
    }

    &__vector .left-brace,
    &__vector .right-brace,
    &__vector .pi {
        fill: $color-white1;
    }
}

@include cmp-modifier($component, 'round') {
    &__wrapper {
        padding: 20px;
        border-radius: 100%;
    }
}
