<div class="cmp-imprint">
    <cmp-page-header [title]="title"></cmp-page-header>
    <cmp-section id="intro">
        <div class="cmp-imprint__intro">
            <div class="cmp-imprint__information">
                <cmp-headline-h4 [text]="'IMPRINT_PAGE_LAW_HEADLINE'|translate"></cmp-headline-h4>
                <cmp-copy [text]="'IMPRINT_PAGE_LAW_TEXT'|translate"></cmp-copy>
            </div>
            <div class="cmp-imprint__contact">
                <cmp-headline-h4 [text]="'IMPRINT_PAGE_CONTACT_HEADLINE'|translate"></cmp-headline-h4>
                <cmp-copy [text]="'IMPRINT_PAGE_CONTACT_TEXT'|translate"></cmp-copy>
            </div>
        </div>
    </cmp-section>
    <cmp-section id="contents">
        <cmp-headline-h4 [text]="'IMPRINT_PAGE_CONTENTS_HEADLINE'|translate"></cmp-headline-h4>
        <cmp-copy [text]="'IMPRINT_PAGE_CONTENTS_TEXT'|translate"></cmp-copy>
    </cmp-section>
    <cmp-section id="links">
        <cmp-headline-h4 [text]="'IMPRINT_PAGE_LINKS_HEADLINE'|translate"></cmp-headline-h4>
        <cmp-copy [text]="'IMPRINT_PAGE_LINKS_TEXT'|translate"></cmp-copy>
    </cmp-section>
    <cmp-section id="copyright">
        <cmp-headline-h4 [text]="'IMPRINT_PAGE_COPYRIGHT_HEADLINE'|translate"></cmp-headline-h4>
        <cmp-copy [text]="'IMPRINT_PAGE_COPYRIGHT_TEXT'|translate"></cmp-copy>
    </cmp-section>
    <cmp-section id="quick-contact">
        <cmp-quick-contact></cmp-quick-contact>
    </cmp-section>
</div>
