@import 'shared';

$component: 'cmp-imprint';

@include cmp-base($component) {
    @include cmp-page();

    &__intro {
        display: flex;
        flex-direction: column;

        @include use-breakpoint(mini-tablet) {
            flex-direction: row;
        }
    }

    &__information,
    &__contact {
        flex: 1;
    }

    &__information {
        margin-bottom: 20px;

        @include use-breakpoint(mini-tablet) {
            margin-right: 20px;
            margin-bottom: 0;
        }
    }

    &__contact {
        @include use-breakpoint(mini-tablet) {
            margin-left: 20px;
        }
    }
}
