@import '../../../../scss/shared';

$component: 'cmp-headline-h6';

@include cmp-base($component) {
    @include use-text(headline-h6);
    margin-bottom: 15px;
}

@include cmp-modifier($component, left) {
    &__icon {
        margin-right: 12px;
    }
}

@include cmp-modifier($component, right) {
    &__icon {
        margin-left: 12px;
    }
}
