// colors
$pd-text-color: #333;
$pd-title-color: #333;
$pd-title-bg: #fff;
$pd-picker-bg: #fff;
$pd-picker-border: #ccc;
$pd-picker-border-bottom: #bbb;
$pd-picker-shadow: rgba(0,0,0,.5);
$pd-th-color: #999;
$pd-day-color: #666;
$pd-day-bg: transparent;
$pd-day-hover-color: #fff;
$pd-day-hover-bg: $color-primary;
$pd-day-today-color: #33aaff;
$pd-day-selected-color: #fff;
$pd-day-selected-bg: #33aaff;
$pd-day-selected-shadow: #178fe5;
$pd-day-disabled-color: #999;
$pd-week-color: #999;

$pd-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
