/**
 * Grid settings
 */
$susy: (
    columns: susy-repeat(12),
    gutters: 1/12
);
$grid-debug: false;
$grid-desktop-padding: span(2) + gutter();
$grid-mobile-padding: 20px;

/**
 * Header
 */
$header-height: 250px;
$header-height-mini-tablet: 340px;
$header-height-desktop: 400px;

/**
 * Footer
 */
$footer-height: 250px;
