<div class="cmp-navigation" [ngClass]="{'cmp-navigation--open': mobile && mobileOpen}">
    <cmp-navigation-button (open)="toggleMobileOpen($event)" *ngIf="mobile"></cmp-navigation-button>
    <div class="cmp-navigation__wrapper">
        <ul class="cmp-navigation__list">
            <li class="cmp-navigation__item" routerLinkActive="cmp-navigation__item--active" [routerLinkActiveOptions]="{ exact: false, __change_detection_hack__: language }">
                <a class="cmp-navigation__link" [routerLink]="['/', language, 'home']">
                    <span class="cmp-navigation__text">{{'NAVIGATION_HOME'|translate}}</span>
                </a>
            </li>
            <li class="cmp-navigation__item" routerLinkActive="cmp-navigation__item--active" [routerLinkActiveOptions]="{ exact: false, __change_detection_hack__: language }">
                <a class="cmp-navigation__link" [routerLink]="['/', language, 'about']">
                    <span class="cmp-navigation__text">{{'NAVIGATION_ABOUT'|translate}}</span>
                </a>
            </li>
            <li class="cmp-navigation__item" routerLinkActive="cmp-navigation__item--active" [routerLinkActiveOptions]="{ exact: false, __change_detection_hack__: language }">
                <a class="cmp-navigation__link" [routerLink]="['/', language, 'references']">
                    <span class="cmp-navigation__text">{{'NAVIGATION_REFERENCES'|translate}}</span>
                </a>
            </li>
            <li class="cmp-navigation__item" routerLinkActive="cmp-navigation__item--active" [routerLinkActiveOptions]="{ exact: false, __change_detection_hack__: language }">
                <a class="cmp-navigation__link" [routerLink]="['/', language, 'blog']">
                    <span class="cmp-navigation__text">{{'NAVIGATION_BLOG'|translate}}</span>
                </a>
            </li>
            <li class="cmp-navigation__item" routerLinkActive="cmp-navigation__item--active" [routerLinkActiveOptions]="{ exact: false, __change_detection_hack__: language }">
                <a class="cmp-navigation__link" [routerLink]="['/', language, 'contact']">
                    <span class="cmp-navigation__text">{{'NAVIGATION_CONTACT'|translate}}</span>
                </a>
            </li>
            <li class="cmp-navigation__item" routerLinkActive="cmp-navigation__item--active">
                <a class="cmp-navigation__link" routerLink="/signin">
                    <span class=" cmp-navigation__text ">Sign in</span>
                </a>
            </li>
        </ul>
    </div>
</div>
