<header class="flex flex-col content-center sm:flex-row-reverse sm:justify-end">
    <div
        class="fixed left-[32.5px] top-10 z-50 flex transition-[left] sm:relative sm:left-0 sm:top-0"
        [class.!left-10]="(scrolled$ | async) && isMobile"
    >
        <button
            class="plausible-event-name=Mobile+Navigation+Toggle mr-2.5 block h-10 w-10 transition-colors sm:hidden"
            aria-label="Mobile Navigation Toggle Button"
            [class.text-ghostWhite]="(scrolled$ | async) && isClosed && isMobile"
            [class.bg-paynesGray]="(scrolled$ | async) && isClosed && isMobile"
            [class.dark:bg-charcoal]="(scrolled$ | async) && isClosed && isMobile"
            [disabled]="isAnimating"
            (click)="toggle()"
        >
            <cmp-navigation-button [open]="isOpen || isFadingIn"></cmp-navigation-button>
        </button>
        <button
            class="plausible-event-name=Theme+Change group block h-10 w-10 transition-colors"
            aria-label="Theme Change Button"
            [class.text-ghostWhite]="(scrolled$ | async) && isClosed && isMobile"
            [class.bg-paynesGray]="(scrolled$ | async) && isClosed && isMobile"
            [class.dark:bg-charcoal]="(scrolled$ | async) && isClosed && isMobile"
            (click)="themeService.next()"
        >
            <cmp-theme-button [state]="themeService.icon$ | async"></cmp-theme-button>
        </button>
    </div>
    <div class="hidden items-center justify-center sm:flex">
        <ul class="flex flex-row items-start">
            <li
                class="group relative flex flex-col justify-center"
                *ngFor="let link of links; let i = index"
            >
                <a
                    class="nav-link group-hover:nav-link-active"
                    [routerLink]="[link.target]"
                    [routerLinkActive]="'nav-link-active'"
                >
                    <span>{{ link.title }}</span>
                </a>
            </li>
        </ul>
    </div>
    <div
        class="fixed left-0 top-0 z-40 h-screen w-screen items-center justify-center bg-ghostWhite p-5 pt-20 transition-colors duration-300 dark:bg-gunmetal sm:hidden"
        [class.overscroll-contain]="isOpen"
        [class.hidden]="isClosed"
        [class.flex]="isOpen || isFadingIn || isFadingOut"
        [class.invisible]="isClosed"
        [class.visible]="isOpen || isFadingIn || isFadingOut"
        [class.opacity-0]="isClosed || isFadingOut"
        [class.opacity-100]="isOpen || isFadingIn"
        [class.animate-fadeOut]="isFadingOut"
        [class.animate-fadeIn]="isFadingIn"
    >
        <ul class="flex flex-col items-start">
            <li
                class="group relative flex flex-col justify-center"
                *ngFor="let link of links; let i = index"
            >
                <div class="absolute mb-1 -translate-x-full pr-2 text-paynesGray">0{{ i + 1 }}</div>
                <a
                    class="nav-link group-hover:nav-link-active"
                    [routerLink]="[link.target]"
                    [routerLinkActive]="'nav-link-active'"
                >
                    <span>{{ link.title }}</span>
                </a>
            </li>
        </ul>
    </div>
</header>
