@import '../../../scss/shared';

$component: 'cmp-navigation';

:host {
    position: sticky;
    top: 0;
    z-index: 999;
}

@include cmp-base($component) {
    &__wrapper,
    &__list,
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__wrapper {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        z-index: 998;

        @include use-breakpoint(mini-tablet) {
            height: 45px;
            position: sticky;
            top: 0;
            background: $color-white1;
            border-bottom: 1px $color-white2 solid;
            transform: none;
            overflow-y: hidden;
            opacity: 1;
        }

        @include use-breakpoint(desktop) {
            padding-left: $grid-desktop-padding;
            padding-right: $grid-desktop-padding;
        }
    }

    &__list,
    &__item {
        width: 100%;
        flex: 1;
    }

    &__list {
        @include use-breakpoint(mini-tablet) {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__item {
        color: rgba($color-white1, 0.6);
        background: $color-primary;
        transform: translateX(0%);
        transition: transform 0.2s, opacity 0.2s;
        opacity: 0;

        &--active {
            color: $color-white1;
        }

        @include use-breakpoint(mini-tablet) {
            flex: 1;
            height: 50px;
            padding: 0 10px 5px;
            background: $color-white1;
            color: rgba($color-primary, 0.6);
            opacity: 1;
            border-bottom: 5px inset rgba(0, 0, 0, 0);
            transition: height 0.2s, padding-bottom 0.2s, border-color 0.15s;

            &:hover,
            &--active,
            &--active:hover {
                height: 45px;
                padding-bottom: 0;
            }

            &:hover {
                border-color: rgba($color-primary, 0.5);
            }

            &--active,
            &--active:hover {
                border-color: $color-primary;
                color: $color-primary;
            }

            &--fixed {
                width: 80px;
                flex: initial;
            }
        }
    }

    @for $i from 1 through 10 {
        &__item:nth-child(#{$i}) {
            transition-delay: #{($i - 1) * 0.08}s;
        }

        @include use-breakpoint(mini-tablet) {
            &__item:nth-child(#{$i}) {
                transition-delay: 0s;
            }
        }
    }

    &__link {
        width: 100%;
        height: 100%;
        color: inherit;
    }

    &__text {
        @include use-font(monospace);
        font-size: 18px;
        opacity: 0.5;

        &--decorated::before {
            content: '<';
        }

        &--decorated::after {
            content: ' />';
        }

        @include use-breakpoint(mini-tablet) {
            font-size: 15px;
        }
    }

    &__item--active &__text {
        opacity: 1;
    }
}

@include cmp-modifier($component, 'open') {
    &__item {
        transform: translateX(100%);
        opacity: 1;
    }
}
