name: Deploy App
on: pull_request

jobs:
  preview:
    name: Preview
    if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
    runs-on: ubuntu-latest
    environment:
      name: preview
      url: ${{ steps.firebase.outputs.details_url }}
    steps:
      # checkout
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      # prepare
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install --frozen-lockfile

      # test
      - run: yarn run lint

      # build
      - run: yarn run build:app
      - run: yarn run build:server
      - run: yarn run build:prerender
      - run: yarn run build:cfn
      - run: yarn run bundlewatch
        env:
          BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
          CI_REPO_SLUG: ${{ env.GITHUB_REPOSITORY }}
          CI_COMMIT_SHA: ${{ env.GITHUB_SHA }}
          CI_BRANCH: ${{ env.GITHUB_REF }}

      # deploy
      - uses: FirebaseExtended/action-hosting-deploy@v0
        id: firebase
        with:
          projectId: pascaliske-dev
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_PASCALISKE_DEV }}'
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
